.cont-parent{
    width : 60% !important;
    opacity: 0.95;
    margin-top: 10%;
}

.row1{
    height: 100%;
}

.col1{ 
    background-color: rgba(255, 255, 255, .98);
}

.col2{
    background-color:  rgba(218, 26, 26, 0.95);
}

.img1{
    width:25%;
    height :10%;
}

.img2{
    width:80%;
}

.btn1{
    width: 100%;
    text-align: center;
    margin : 5% auto !important;
}

.line{
    display:block; 
    margin-left:3px;
    margin-right:22px;
}
.line p{
    font-size:16px; 
    text-align:center; 
    border-bottom:1px solid rgba(255, 255, 255, 0.5); 
    position:relative; 
}
.line p span {
     background-color: rgba(218, 26, 26, 1); 
     position: relative; 
     top: 10px; 
     padding: 0 10px;
    }